/* BASIC SETUP */

body, html {
	width: 1920px;
	height: 1080px;
	background-image: url('public/img/checkerboard.png');
	position: relative;
}

/* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('public/fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('public/fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('public/fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}

/* CLOCK */

#clock {
	width: 150px;
	height: 40px;
	position: absolute;
	top: 7%;
	left: 7%;
	text-align: center;

	font-size: 28px;
	font-family: 'Open Sans';
	font-weight: 800;
	background: rgba(255, 255, 255, 0.5);

	-webkit-box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);

	transition: opacity 5s;
}

.hide {
	opacity: 0;
}


/* LOWER THIRD */

#lowerThird {
	position: absolute;
	bottom: 7%;
	left: 7%;
	width: 40%;
	background: rgba(255, 255, 255, 0.5);
	padding: 45px 70px;
	border-bottom: 12px solid #FFF;
	-webkit-box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);

	transition: opacity 5s;
}
#lowerThird h1 {
	font-family: 'Open Sans';
	font-weight: 800;
	margin: 0;
	font-size: 48px;
}
#lowerThird p {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 28px;
	margin: 0;
}
#lowerThird #function {
	font-weight: 600;
}
#lowerThird #company {
	font-style: italic;
	font-weight: 200;
}


/* SPONSOR MESSAGE / IMAGE */

#sponsormessage {
	position: absolute;
	top: 7%;
	right: 7%;
	text-align: right;
	font-family: 'Open Sans';
	font-weight: 800;
}


/* LOGO */

#logo {
	position: absolute;
	top: 7%;
	right: 7%;
	width: 500px;
	-webkit-box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	margin: 0;
	padding: 0;
}
#logo img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}