/* BASIC SETUP */

body, html {
	width: 1920px;
	height: 1080px;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background: transparent;
}
body.preview {
	background-image: url('public/img/checkerboard.png');
}

/* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('public/fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('public/fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('public/fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}

/* GENERIC */

.hide {
	/* opacity: 0; */
	/* display: none; */
}

.shadowed {
	-webkit-box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.75);
}
.widget {
	/* transition: opacity 1s; */
}

.animation-fades {
	/* transition: opacity 3s; */
}

.background-transparency {
	background: rgba(255, 255, 255, 0.5);
}
.background-solid {
	background: rgba(255, 255, 255, 1);
}

.font-modern {
	font-family: 'Open Sans';
}
.font-techy {
	font-family: 'Open Sans';
}
.font-classical {
	font-family: 'Open Sans';
}

.style-rounded {
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	box-shadow: inset 0 0 20px #BDD9FF, 0px 0px 15px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    color: #000000;
    padding: 36px;
}

/* CLOCK */

#clock {
	width: 250px;
	padding: 10px 0;
	position: absolute;
	top: 9%;
	left: 9%;
	text-align: center;
	font-size: 36px;
}

/* COUNTDOWN */

#countdown {
	position: absolute;
}
#countdown.underneath_clock {
	width: 250px;
	padding: 10px 0;
	text-align: center;
	font-size: 36px;
	top: 16%;
	left: 9%;
}
#countdown.center {
	width: 600px;
	margin-left: -300px;
	padding: 50px 0;
	margin-top: -75px;
	text-align: center;
	font-size: 64px;
	left: 50%;
	top: 45%;
}
#countdown.lower {
	width: 600px;
	margin-left: -300px;
	padding: 50px 0;
	margin-top: -75px;
	text-align: center;
	font-size: 64px;
	left: 50%;
	top: 60%;
}

/* LOWER THIRD */

#lowerThirds {
	position: absolute;
	bottom: 7%;
	left: 7%;
	width: 40%;
	padding: 45px 70px;
	/* border-bottom: 12px solid #FFF; */
}
#lowerThirds h1 {
	margin: 0;
	font-size: 48px;
}
#lowerThirds p {
	font-weight: 400;
	font-size: 28px;
	margin: 0;
}
#lowerThirds #function {
	font-weight: 600;
}
#lowerThirds #company {
	font-style: italic;
	font-weight: 200;
}

/* BROADCAST MESSAGE */
#broadcastMessage {
	position: absolute;
	top: 60%;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 3em;
	width: 100%;
	padding: 1em 0;
}

#twitter {
	position: absolute;
	bottom: 14%;
	right: 7%;
	width: 40%;
	padding: 45px 70px;
}
#twitter h1 {
	margin: 0;
	margin-bottom: 8px;
	line-height: 1em;
	font-size: 48px;
}
#twitter img#author {
	float: left;
	margin-right: 25px;
}
#twitter img#media_thumbnail {
	position: absolute;
	height: 350px;
	right: 0%;
	top: -350px;
}
#twitter p {
	font-weight: 400;
	font-size: 28px;
	margin: 0;
}
#twitter #function {
	font-weight: 600;
}
#twitter #company {
	font-style: italic;
	font-weight: 200;
}

/* LOGO */

#logo {
	position: absolute;
	top: 7%;
	right: 7%;
	width: 150px;
	margin: 0;
	padding: 0;
}
#logo img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}