/* BASIC SETUP */

body, html {
	width: 1920px;
	height: 1080px;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background: transparent;
}
body.preview {
	background-image: url('public/img/checkerboard.png');
}

/* GENERIC */

.hide {
	/* opacity: 0; */
	/* display: none; */
}


.background-transparency {
	background: rgba(255, 255, 255, 0.5);
}
.background-solid {
	background: rgba(255, 255, 255, 1);
}

.font-modern {
	font-family: 'Open Sans';
}
.font-techy {
	font-family: 'Open Sans';
}
.font-classical {
	font-family: 'Open Sans';
}