extends admin_layout

block widget
	div.btn-group.btn-group-lg.btn-block
		button.getrequest(href="/admin/clock/show").btn.btn-success
			i.glyphicon.glyphicon-eye-open
			|  Show
		button.getrequest(href="/admin/clock/hide").btn.btn-danger
			i.glyphicon.glyphicon-eye-close
			|  Hide

	hr

	form(action='/admin/clock/set', method='post')
		fieldset(name="offset")
			label.control-label Offset
			input.form-control(name="offset", type="number", value=config.clock.offset)

		hr
		button.btn.btn-primary(type='submit') Update