extends admin_layout

block widget
	div.btn-group.btn-group-lg.btn-block
		button.getrequest(href="/admin/lowerThirds/hide").btn.btn-danger
			i.glyphicon.glyphicon-eye-close
			|  Hide

	hr

	form.add_new(action='/admin/lowerThirds/entries/add', method='post')
		.form-group
			fieldset(name="name")
				label.control-label Name
				input.form-control(name="name")
		.form-group
			fieldset(name="function")
				label.control-label Function
				input.form-control(name="function")
		.form-group
			fieldset(name="company")
				label.control-label Company
				input.form-control(name="company")
		.form-group
			button.btn.btn-primary(type='submit') Add

	hr

	ul.list-group
		each entry, index in config.lowerThirds.entries
			li.list-group-item
				div.btn-group.pull-right.clearfix(style="margin-left: 1em")
					button.getrequest(href="/admin/lowerThirds/"+index+"/show").btn.btn-success 
						i.glyphicon.glyphicon-eye-open
						|  Show
				div.btn-group.pull-right.clearfix
					button.delete(href="/admin/lowerThirds/entries/"+index+"/delete").btn.btn-danger Delete
				span.clearfix=entry.name+" / "+entry.function+" | "+entry.company