ul#navigation.nav.nav-pills.nav-stacked
	li(role="presentation", class=(title === "General" ? 'active' : ''))
		a(href='/admin')
			i.glyphicon.glyphicon-cog
			|  General
	hr

	mixin menu_item(name, fullname, glyphicon)
		li.widget-menu(role="presentation", class=(title === fullname ? 'active' : ''), id=name)
			a(href="/admin/#{name}")
				i.glyphicon(class="glyphicon-#{glyphicon}")
				|  #{fullname}
				span.eye.label.label-default.pull-right
					i.glyphicon.glyphicon-eye-close
	
	+menu_item('broadcastMessage', 'Broadcast Message', 'info-sign')
	+menu_item('clock', 'Clock', 'time')
	+menu_item('countdown', 'Countdown', 'bell')
	+menu_item('logo', 'Logo', 'copyright-mark')
	+menu_item('twitter', 'Twitter', 'thumbs-up')

	hr

	h3 Future Widgets

	+menu_item('lowerThirds', 'Lower Thirds', 'user')
	+menu_item('geo', 'Geo', 'map-marker')
	+menu_item('schedule', 'Schedule', 'calendar')