extends admin_layout

block widget
	div.btn-group.btn-group-lg.btn-block
		button.getrequest(href="/admin/twitter/hide").btn.btn-danger
			i.glyphicon.glyphicon-eye-close
			|  Hide

	hr

	form.add_new(action='/admin/twitter/entries/add', method='post')
		.form-group
			fieldset(name="tweet-id")
				label.control-label Tweet ID to display
				input.form-control(name="tweetId")
		.form-group
			button.btn.btn-primary(type='submit') Add

	hr

	ul.list-group
		if config.twitter.entries
			each entry, index in config.twitter.entries
				li.list-group-item
					div.btn-group.pull-right.clearfix(style="margin-left: 1em")
						button.getrequest(href="/admin/twitter/"+index+"/show").btn.btn-success 
							i.glyphicon.glyphicon-eye-open
							|  Show
					div.btn-group.pull-right.clearfix
						button.delete(href="/admin/twitter/entries/"+index+"/delete").btn.btn-danger Delete
					span.clearfix=entry.message