.style-rounded {
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	box-shadow: inset 0 0 20px #BDD9FF, 0px 0px 15px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    color: #000000;
    padding: 36px;
}

/* CLOCK */

#clock {
	width: 250px;
	padding: 10px 0;
	position: absolute;
	top: 9%;
	left: 9%;
	text-align: center;
	font-size: 36px;
}

/* COUNTDOWN */

#countdown {
	position: absolute;
}
#countdown.underneath_clock {
	width: 250px;
	padding: 10px 0;
	text-align: center;
	font-size: 36px;
	top: 16%;
	left: 9%;
}
#countdown.center {
	width: 600px;
	margin-left: -300px;
	padding: 50px 0;
	margin-top: -75px;
	text-align: center;
	font-size: 64px;
	left: 50%;
	top: 45%;
}
#countdown.lower {
	width: 600px;
	margin-left: -300px;
	padding: 50px 0;
	margin-top: -75px;
	text-align: center;
	font-size: 64px;
	left: 50%;
	top: 60%;
}

/* LOWER THIRD */

#lowerThirds {
	position: absolute;
	bottom: 7%;
	left: 7%;
	width: 40%;
	padding: 45px 70px;
	border-radius: 3px;
	background: linear-gradient(to bottom, rgba(167,207,223,0.53) 0%,rgba(35,83,138,0.28) 100%);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.5), inset 0 1px 2px white;
	color: #FFF;
}

#lowerThirds h1 {
	margin: 0;
	font-size: 48px;
	text-shadow: 0 1px 0 #ccc,
             0 2px 0 #c9c9c9,
             0 3px 0 #bbb,
             0 4px 0 #b9b9b9,
             0 5px 0 #aaa,
             0 6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 1px 3px rgba(0,0,0,.3),
             0 3px 5px rgba(0,0,0,.2),
             0 5px 10px rgba(0,0,0,.25),
             0 10px 10px rgba(0,0,0,.2),
             0 20px 20px rgba(0,0,0,.15);
}
#lowerThirds p {
	font-weight: 400;
	font-size: 28px;
	margin: 0;
	text-shadow: 0px 1px 0px #BBB, 0px 3px 3px #444;
}
#lowerThirds #function {
	font-weight: 600;
}
#lowerThirds #company {
	font-style: italic;
	font-weight: 200;
}

/* BROADCAST MESSAGE */
#broadcastMessage {
	position: absolute;
	top: 60%;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 6em;
	width: 100%;
	padding: 1em 0;
	background: transparent;
	color: #FFF;
	text-shadow: 0 1px 0 #ccc,
	             0 2px 0 #c9c9c9,
	             0 3px 0 #bbb,
	             0 4px 0 #b9b9b9,
	             0 5px 0 #aaa,
	             0 6px 1px rgba(0,0,0,.1),
	             0 0 5px rgba(0,0,0,.1),
	             0 1px 3px rgba(0,0,0,.3),
	             0 3px 5px rgba(0,0,0,.2),
	             0 5px 10px rgba(0,0,0,.25),
	             0 10px 10px rgba(0,0,0,.2),
	             0 20px 20px rgba(0,0,0,.15);
}

#twitter {
	position: absolute;
	bottom: 14%;
	right: 7%;
	width: 40%;
	padding: 45px 70px;
}
#twitter h1 {
	margin: 0;
	margin-bottom: 8px;
	line-height: 1em;
	font-size: 48px;
}
#twitter img#author {
	float: left;
	margin-right: 25px;
}
#twitter img#media_thumbnail {
	position: absolute;
	height: 350px;
	right: 0%;
	top: -350px;
}
#twitter p {
	font-weight: 400;
	font-size: 28px;
	margin: 0;
}
#twitter #function {
	font-weight: 600;
}
#twitter #company {
	font-style: italic;
	font-weight: 200;
}

/* LOGO */

#logo {
	position: absolute;
	top: 7%;
	right: 7%;
	width: 150px;
	margin: 0;
	padding: 0;
}
#logo img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}